$debug-color1: #9bf28c;
$debug-color2: #9494ce;
$debug-color3: #ff0;

$title-color: #090c36;
$black-075-color: rgba(0, 0, 0, .75);
$black-color: #000;
$btn-hover-color: #808080;
$gray07-color: #777373;
$gray08-color: rgba(191, 189, 191, 1);
$gray10-color: #d4d4d4;
$gray11-color: rgba(237, 237, 237, 1);
$gray12-color: #fff9f9;
$red-color: #f00;
$sub-item-color: #777373;
$white-color: #fff;
