$color-def: #2a2a28;
$color-dest: #fff079;
$color-gray: #808080;
$color-gray-03: #2a2a28;
$color-gray-11: #595959;
$color-gray-10: #585858;
$color-gray-13: #9d9d9d;
$color-gray-15: #c6c6c6;
$color-white: #fff;
$color-link: #1a27e5;
$shadow-color: rgba(0, 0, 0, .75);
$name-shw-color: rgba(150, 150, 150, .7);
$color-mark: #b42222;
